*{
    margin: 0;
    padding: 0;
    }
    .header-1{
        background-color: #252323;
        height: 80px;
    }
    .main,img{
     margin-right: 30px;
    }
    .logos-sociais{
    margin-right: 50px;
     position: absolute;
     right: 100px;
    top: 10px;     
    }
    .nome{
    color:blanchedalmond;
    margin-left: 25px;
   display: flex;
   position: absolute;
  top: 5px;
    }
.texto-titulo{
    margin: 15px;
    font-size: 25px;
    font-style: italic;
      }
.texto h1{
    display: flex;
    margin: 0px;
    font-style: italic;
    font-size: 20px;
    text-align: right;
}
.texto p{
    text-align: right;
display: flex;
font-size: 15px;
max-width: 200px;
}
.card_img{
    display: flex;
    top: 200px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 20px;
}

.small_img{
    height: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}
.small_img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#modal_img{
    width: 65vw;
    transform: scale(0);
    transition: all linear .3s;
}

.modal_active #modal_img{
    transform: scale(1);
}
.modal{

    width: 100vw;
    height: 100vh;
        background-color: rgb(0, 0, 0);
    position: fixed;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#bt_close{
    color:#fff;
    background-color: #000;
    position: absolute;
    top:10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 25px;
    border:solid 2px #fff;
    transition: all ease-out .4s;
    cursor: pointer;
}
#bt_close:hover{
    background-color: #f00;
}

.modal_active{
    visibility: visible;
    opacity: 1;

}


